@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.cdnfonts.com/css/ink-free");

:root {
  
  --accent-primary: #50d8d7;
  --accent-secondary: #45a29e;
  --text-primary: #e7e4d2;
  --text-secondary: #303030;
  /* --background-primary: #0b0c10; */
  --background-primary: #242b2c;
  --background-secondary: #191b1b;
}

@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}


* {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.content-item {
  margin-bottom: 10rem;
}

.section-header {
  font-size: 2rem;
}



/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #66fcf1;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #ffffff33;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #66fcf1;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted
  .CircularProgressbar-background {
  fill: #66fcf1;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
